## Test your knowledge.

** Answer the following questions **

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
result = ((50 * 2) + (10 ** 2) / 4) - 0.75
print(result)

124.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5
    
    What is the value of the expression 4 + 6 * 5

In [2]:

result1 = 4 * (6 + 5)
print(result1)  # Output should be 44

result2 = 4 * 6 + 5
print(result2)  # Output should be 29

result3 = 4 + 6 * 5
print(result3)  # Output should be 34

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [3]:
result = 3 + 1.5 + 4
print(type(result))  # Output should be <class 'float'>

<class 'float'>

What would you use to find a numberâ€™s square root, as well as its square?

In [4]:
# Square root:
import math


number = 25
square_root = math.sqrt(number)
print(f"The square root of {number} is: {square_root}")

The square root of 25 is: 5.0
The square of 5 is: 25

In [6]:
# Square:
number = 5
square = number ** 2  # Using the exponentiation operator

print(f"The square of {number} is: {square}")

The square of 5 is: 25

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [7]:
s = 'hello'
# Print out 'e' using indexing
my_string = 'hello'
character_at_index_1 = my_string[1]
print(character_at_index_1)

e

Reverse the string 'hello' using slicing:

In [8]:
s ='hello'
# Reverse the string using slicing
my_string = 'hello'
reversed_string = my_string[::-1]
print(reversed_string)

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [9]:
s ='hello'
# Print out the 'o'

# Method 1:
my_string = 'hello'
first_o = my_string[4]  # Index 4 corresponds to the letter 'o'
print(first_o)

o

In [10]:
# Method 2:

my_string = 'hello'
second_o = my_string[-1]  # Index -1 corresponds to the last character, which is 'o'
print(second_o)

o

## Lists

Build this list [0,0,0] two separate ways.

In [11]:
# Method 1:
list_method1 = [0, 0, 0]
print(list_method1)

[0, 0, 0]

In [12]:
# Method 2:
list_method2 = [0] * 3
print(list_method2)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [13]:
list3 = [1,2,[3,4,'hello']]



# Reassign 'hello' to 'goodbye'
list3[2][2] = 'goodbye'

print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [14]:
list4 = [5,3,4,6,1]

list4 = [5, 3, 4, 6, 1]
list4.sort()
print(list4)
list4 = [5, 3, 4, 6, 1]
sorted_list = sorted(list4)
print(sorted_list)

[1, 3, 4, 5, 6]
[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [18]:

# Grab 'hello'
d = {'simple_key': 'hello'}
value = d['simple_key']
print(value)

hello

In [21]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

value = d['k1']['k2']
print(value)

hello

In [24]:
# Getting a little tricker


#Grab hello
d = {'k1': [{'nest_key': ['this is deep', ['hello']]}]}
value = d['k1'][0]['nest_key'][1][0]
print(value)

hello

In [25]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d = {'k1': [1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]}
value = d['k1'][2]['k2'][1]['tough'][2][0]
print(value)

hello

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>

How do you create a tuple?<br><br>

## Sets

What is unique about a set?<br><br>

Use a set to find the unique values of the list below:

In [26]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
list5 = [1, 2, 2, 33, 4, 4, 11, 22, 3, 3, 2]
unique_values = set(list5)

print(unique_values)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [32]:
# Answer before running cell
#False
2 > 3
result = 2 > 3
print(result)

False

In [34]:
# Answer before running cell
3 <= 2
result = 3 <= 2
print(result)

False

In [38]:
# Answer before running cell
3 == 2.0
result = 3 == 2.0
print(result)

False

In [40]:
# Answer before running cell
3.0 == 3
result = 3.0 == 3
print(result)

True

In [41]:
# Answer before running cell
4**0.5 != 2
result = 4**0.5 != 2
print(result)

False

Final Question: What is the boolean output of the cell block below?

In [43]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

l_one = [1, 2, [3, 4]]
l_two = [1, 2, {'k1': 4}]

# Evaluate the expression
result = l_one[2][0] >= l_two[2]['k1']
print(result)

False

## Great Job on your first assessment!